*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 80px;
    top:0;
    left:0;
    background-color: #ffffff;
    position: fixed;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .2);
}
body{
    background: #f8f9fc;
}
cite{
    background: #f8f9fc;
    opacity: 0.2;
    margin-left:40px; 
    font-size: 30px;
}
hr{
    background-color: #fff;
    opacity: 0.2;
    border-radius: 8px;
    width: auto;
    margin: 0 10px;
}
.menu{
    height:100%;
    position : fixed;
    background-color: #486dda;
    top:0;
}
/* personaliza todos os links do menu */
.menu ul li a{
    display: block;
    font-family: 'Nunito', sans-serif;
    opacity: 0.9;
    font-size: 15px;
    margin-left:10px;
    padding: 15px;
    color: rgb(224, 224, 224);
    text-decoration: none;
}
/* personaliza o titulo:SD ADMIM e a posição dele */
.menu li a h5{
    text-align: center;
    width:200px;
    height:30px;
    float: right;
    margin: 7px 50px 0 0;
    color:#ffffff;
    opacity: 1;
}
/* um hr q fica se escondendo atras do primeiro Titulo, mas isso resolve temporariamente */
.hrfresco{
    margin-top:40px;
}
/* personaliza o titulo:Dashboard e a posição dele */
.menu li a h1{
    width: 120px;
    height: 25px;
    margin: -10px -10px -15px -10px;
    margin-right:60px;
    color:#ffffff;
    opacity: 1;
    font-size: 15px;
    
}
/* PERSONALIZA AS LABELS DENTRO DO MENU */
.menu label{
    opacity: 0.4;
    color: rgb(255, 255, 255);
    margin-left: 5px;
    font-size: 0.82em;
    font-weight: bold;
    padding: 10px;
}

.menu ul li a:hover{
    color: #ffffff;
    text-decoration: none;
}
.menu ul li a h1{
    font-weight: bold;
}

.menu-bottom li a i{
    float: right;
    font-size:12px;
    margin-right:5px;
    opacity: 0.5;
    margin-top:10px;
}
li a i.menu-bottom-left{
    float: left;
    font-size:15px;
    width:15px;
    height: 15px;
    margin-top:0.15rem;
}
.icons{
    color:#ffffff; 
    cursor:pointer;
    float: left;
    margin-right: 10px;
}
.bar{
    width: auto;
    height: 30px;
    margin: 0 10px;
}
#principal{
    width:245px;
    /* left:-300px; */
}
.bg{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(0,0,0,.6);
    display: none;
}

/*Cabeçario*/
.elements-header form input[type="text"]{
    
    margin-left: 300px;
    margin-top:20px;
    padding: 0 0 0 15px ;
    background: #f8f9fc;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 8px 0 0 8px;
    border:1px solid rgba(0, 0, 0, .07);
    
}
.elements-header form input[type="submit"]{
    position: relative;
    left: -510px;
    background: #486dda;
    margin-left: 500px;
    height: 40px;
    width: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}
.elements-header form i{
    position: relative;
    left: -545px;
    font-size: 20px;
    color:#fff;
}
.elements-header .perfil {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #f8f9fc;
    position:relative;
    float: right;
    border-radius: 20px;
    border:1px solid rgba(0, 0, 0, .07);
    margin: 20px 40px 0 0;
}


/* .voltar{
    margin-top:60px;
    background-color: #486dda;
} */
/* 
#chk{
    display: none;
} 
#chk:checked ~#pricipal{
    transform: translateX(-300px);
}
#chk:checked  ~ .bg{
    display: block;
} */
/* #cursos, #contato{
    width: 250px;
    left: -250px;
}
#cursos:target, #contato:target{
    transform: translateX(250);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
} */





/* Corrigir e Comparar depois */

/* .main-container {
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}
.main-container ul{
    list-style: none; tira os topicos de lista
    margin-top: 50px;
}
.main-container  .navbar{
    display: block;

    font-size:18px;
    font-family:'Arial';
    padding: 10px;
    border-bottom:solidi 1px #000;
    color:#ccc;
    text-decoration:none;
    transition:all .2s;

} */
